{
  "plugins": [
    "transform-vue-jsx"
  ],
  "env": {
    "test": {
      "presets": [
        [
          "env",
          {
            "modules": true,
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "not ie <= 8"
              ]
            },
            "debug": true
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "transform-vue-jsx",
        "transform-es2015-modules-commonjs",
        "dynamic-import-node",
        "transform-runtime"
      ]
    },
    "development": {
      "plugins": [
        "transform-object-rest-spread"
      ]
    },
    "production": {
      "presets": [
        [
          "env",
          {
            "modules": false,
            "targets": {
              "browsers": [
                "> 1%",
                "last 2 versions",
                "not ie <= 8"
              ]
            },
            "debug": true
          }
        ],
        "stage-2"
      ],
      "plugins": [
        "transform-runtime"
      ]
    }
  }
}
